body {
  background: url(../src/images/bg.jpg) no-repeat;
  background-position: center;

  background-size: cover;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}


